:root {
  background-image: linear-gradient(to bottom right, #f9fafb, #d2d6db);
  background-attachment: fixed;
  font-family: "Noto Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  min-height: 100vh;

  --brand: #4338ca;
  --brand-hover: #3730a3;
  --primary: #171717;
  --primary-invert: #fff;
  --secondary: #525252;
  --box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 4px;
}

button {
  background-color: transparent;
  border: none;
  border-radius: 0;
  cursor: pointer;
}
