.home__main {
  background-color: var(--primary);
  border-radius: 0.5rem 0.5rem 0 0;
  margin: 0 1rem 0;
  padding: 1rem;
}

.hero-section,
.latest-arrivals-section,
.collections-section,
.commitment-section {
  padding: 3rem 0;
}

/* Hero */
.hero__header {
  font-size: 2.25rem;
  font-weight: 600;
  line-height: 2.5rem;
}

.hero__subheader {
  color: var(--secondary);
  font-size: 1.125rem;
  line-height: 1.75rem;
  margin: 2rem 0;
}

.hero__cta {
  background-color: var(--brand);
  border-radius: 0.25rem;
  color: var(--primary);
  display: inline-block;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  padding: 0.75rem 2.5rem;
}

.hero__img {
  border-radius: 0.5rem;
  height: 16.5rem;
  object-fit: cover;
  margin-top: 2.5rem;
  width: 100%;
}

/* Latest Arrivals */
.latest-arrivals__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.latest-arrivals__title {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2rem;
}

.latest-arrivals__view-all {
  border-radius: 0.25rem;
  box-shadow: var(--box-shadow);
  padding: 0.7rem 1.2rem;
}

.products-listing__product-card:first-child .products-listing__img {
  height: 18.75rem;
}

/* Our Collections */
.collections__title {
  font-size: 1.875rem;
  font-weight: 600;
  line-height: 2.25rem;
}

.collections__collection-card {
  position: relative;
  margin-top: 1.5rem;
}

.collections__collection-card:first-child .collection__img {
  height: 36.25rem;
}

.collection__img {
  border-radius: 0.5rem;
  display: block;
  height: 21rem;
  object-fit: cover;
  width: 100%;
}

.collection__text-container {
  color: var(--primary);
  padding: 1rem;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}

.collection__name {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.collection__description {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.75rem;
}

/* Commitment */
.commitment-section {
  text-align: center;
}

.commitment__subtitle {
  color: var(--brand);
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
}

.commitment__title {
  font-size: 1.875rem;
  font-weight: 600;
  line-height: 2.25rem;
  margin: 1rem 0;
}

.commitment__description {
  color: var(--secondary);
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.commitment__feature {
  padding-top: 3rem;
}

.commitment__feature-icon {
  box-shadow: var(--box-shadow);
  border-radius: 50%;
  color: var(--brand);
  display: inline-block;
  padding: 1rem 0.8rem;
}

.commitment__feature-title,
.footer__join-title {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.75rem;
}

.commitment__feature-title {
  padding: 1rem 0;
}

.commitment__feature-description,
.footer__join-description {
  color: var(--secondary);
  font-size: 1rem;
  line-height: 1.5rem;
}

@media (min-width: 768px) {
  /* Hero */
  .hero__header {
    font-size: 3rem;
    line-height: 3rem;
  }

  .hero__subheader {
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin: 1.5rem 0 3rem;
  }

  .hero__cta {
    font-size: 1.125rem;
    line-height: 1.75rem;
    padding: 1rem 5rem;
  }

  .hero__img {
    height: 32rem;
  }

  /* Latest Arrivals */
  .latest-arrivals__title {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }

  /* Our Collections */
  .collections__listing {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1.5rem;
  }

  .collections__collection-card {
    margin: 0;
  }

  .collections__collection-card:nth-child(1) {
    grid-area: 1 / 1 / 3 / 2;
  }

  .collections__collection-card:nth-child(2) {
    grid-area: 1 / 2 / 2 / 3;
  }

  .collections__collection-card:nth-child(3) {
    grid-area: 2 / 2 / 3 / 3;
  }

  .collection__img {
    height: 100%;
  }

  .collections__collection-card:first-child .collection__img {
    height: 100%;
  }

  .collections__title {
    margin-bottom: 2rem;
  }

  /* Commitment */
  .commitment__title {
    font-size: 3rem;
    line-height: 3rem;
  }

  .commitment__description {
    font-size: 1.25rem;
  }
}

@media (min-width: 1440px) {
  .hero-section,
  .latest-arrivals-section,
  .collections-section,
  .commitment-section {
    padding: 5rem;
  }

  /* Hero */
  .hero-section {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  .hero__header {
    font-size: 3.75rem;
    line-height: 3.75rem;
  }

  .hero__subheader {
    margin: 2rem 0 4rem;
  }

  .hero__cta:hover {
    background-color: var(--brand-hover);
  }

  .hero__img {
    margin: 0;
    width: 43.5rem;
  }

  /* Latest Arrivals */
  .latest-arrivals__view-all:hover {
    background-color: var(--hover-grey);
  }

  .products-listing__product-card {
    flex: 1 1 20%;
    margin: 0;
  }

  /* Our Collections */
  .product__product-card:hover,
  .collections__collection-card:hover .collection__text-container {
    color: var(--brand);
  }

  .collections__collection-card:nth-child(1) {
    height: 36.25rem;
  }

  .collections__collection-card:nth-child(2),
  .collections__collection-card:nth-child(3) {
    height: 17.25rem;
  }

  .collection__text-container:hover {
    cursor: pointer;
  }

  .collection__img {
    height: 100%;
  }

  /* Commitment */
  .commitment__header {
    padding: 0 10rem;
  }

  .commitment__listing {
    display: flex;
    gap: 2rem;
  }

  .commitment__feature {
    flex: 1 1 0;
  }
}

@media (min-width: 1600px) {
  .home__main {
    margin: 0 auto;
    max-width: 100rem;
  }
}
