main {
  background-color: var(--primary-invert);
  border-radius: 0.5rem;
  margin: 1rem;
  padding: 1rem;
}

.hero-section,
.latest-arrivals-section,
.collections-section,
.commitment-section {
  margin: 4rem 0 6rem;
}

/* Hero */
.hero__header {
  font-size: 2.25rem;
  font-weight: 600;
  line-height: 2.5rem;
}

.hero__subheader {
  color: var(--secondary);
  font-size: 1.125rem;
  line-height: 1.75rem;
  margin: 1.5rem 0 2rem;
}

.hero__cta {
  background-color: var(--brand);
  border-radius: 0.25rem;
  color: var(--primary-invert);
  display: inline-block;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  padding: 0.75rem 2.5rem;
}

.hero__img {
  border-radius: 0.5rem;
  margin: 3rem 0;
  height: 16.5rem;
  object-fit: cover;
  width: 100%;
}

/* Latest Arrivals */
.latest-arrivals__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.latest-arrivals__title {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2rem;
}

.latest-arrivals__view-all {
  border-radius: 0.25rem;
  box-shadow: var(--box-shadow);
  padding: 0.625rem 1rem;
}

.product__product-card {
  margin: 2rem 0 3rem;
}

.product__img {
  border-radius: 0.5rem;
  height: 14rem;
  object-fit: cover;
  width: 100%;
}

.product__product-card:first-child .product__img {
  height: 18.75rem;
}

.product__name {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.75rem;
  margin: 1rem 0 0.5rem;
}

.product__price {
  color: var(--secondary);
  line-height: 1.5rem;
}

/* Our Collections */
.collections__title {
  font-size: 1.875rem;
  font-weight: 600;
  line-height: 2.25rem;
}

.collections__collection-card {
  position: relative;
  margin: 2rem 0;
}

.collections__collection-card:first-child .collection__img {
  height: 36.25rem;
}

.collection__img {
  border-radius: 0.5rem;
  height: 21rem;
  width: 100%;
  object-fit: cover;
  display: block;
}

.collection__text-container {
  color: white;
  padding: 1rem;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}

.collection__name {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.collection__description {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.75rem;
}

/* Commitment */
.commitment-section {
  text-align: center;
}
.commitment__subtitle {
  color: var(--brand);
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
}

.commitment__title {
  font-size: 1.875rem;
  font-weight: 600;
  line-height: 2.25rem;
}

.commitment__description {
  color: var(--secondary);
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.commitment__listing {
  padding: 2rem 0;
}

.commitment__feature {
  padding: 2rem 0;
}

.commitment__feature-icon {
  box-shadow: var(--box-shadow);
  border-radius: 50%;
  color: var(--brand);
  display: inline-block;
  padding: 1rem 0.8rem;
}

.commitment__feature-title {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.75rem;
  padding: 1.5rem 0 0.5rem;
}

.commitment__feature-description {
  color: var(--secondary);
  font-size: 1rem;
  line-height: 1.5rem;
}

@media (min-width: 768px) {
  /* Hero */
  .hero__header {
    font-size: 3rem;
    line-height: 3rem;
  }

  .hero__subheader {
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin: 1.5rem 0 3rem;
  }

  .hero__cta {
    font-size: 1.125rem;
    line-height: 1.75rem;
    padding: 1rem 5rem;
  }

  .hero__img {
    margin: 2rem 0;
    height: 32rem;
  }

  /* Latest Arrivals */
  .latest-arrivals__title {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }

  .latest-arrivals__products-listing {
    display: flex;
    align-content: stretch;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .product__product-card {
    flex: calc(50% - 2rem);
    margin: 2rem 0;
  }

  .product__img {
    height: 18.75rem;
  }

  /* Our Collections */
  .collections__listing {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2rem;
  }

  .collections__collection-card {
    margin: 0;
  }

  .collections__collection-card:nth-child(1) {
    grid-area: 1 / 1 / 3 / 2;
  }

  .collections__collection-card:nth-child(2) {
    grid-area: 1 / 2 / 2 / 3;
  }

  .collections__collection-card:nth-child(3) {
    grid-area: 2 / 2 / 3 / 3;
  }

  .collection__img {
    height: 100%;
  }

  .collections__collection-card:first-child .collection__img {
    height: 100%;
  }

  .collections__title {
    margin-bottom: 2rem;
  }

  /* Commitment */
  .commitment__title {
    font-size: 3rem;
    line-height: 3rem;
    padding: 1rem 0;
  }

  .commitment__description {
    font-size: 1.25rem;
  }
}

@media (min-width: 1440px) {
  .hero-section,
.latest-arrivals-section,
.collections-section,
.commitment-section {
    margin: 5rem;
  }

  /* Hero */
  .hero-section {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  .hero__header {
    font-size: 3.75rem;
    line-height: 3.75rem;
  }

  .hero__subheader {
    margin: 2rem 0 4rem;
  }

  .hero__img {
    width: 43.5rem;
  }

  .product__product-card {
    flex: calc(25% - 2rem);
    margin: 1rem 0;
  }

  /* Our Collections */
  .collections__collection-card:nth-child(1) {
    height: 36.25rem;
  }

  .collections__collection-card:nth-child(2),
  .collections__collection-card:nth-child(3) {
    height: 17.25rem;
  }

  .collection__img {
    height: 100%;
  }

  /* Commitment */
  .commitment__header {
    padding: 0 10rem;
  }

  .commitment__listing {
    display: flex;
    gap: 2rem;
  }
  
  .commitment__feature {
    flex: 1 1 0;
  }
}

@media (min-width: 1600px) {
  main {
    margin: 1rem auto;
    max-width: 100rem;
  }
}
